# Supabase Database URL
DATABASE_URL=postgresql://postgres:K+*%23JE&q3KFnD_Y@db.oqkphnxuesjsdxgmyhqt.supabase.co:5432/postgres

# FRED API Key (from https://fred.stlouisfed.org/docs/api/api_key.html)
FRED_API_KEY=4d092e64fc7f5a2dbe5fe63249b1bfe5
